
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');


*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;

}
:root{

--primary-text-color : #183b56;

--secondary-text-color : #577592;
--accent-color : #2294ed;
--accent-color-dark: #1d6983;
--padding-inline-section: 20px


}


body{
    font-family: 'Poppins', sans-serif ;
color: var(--primary-text-color);
}




h1{

font-size: 3rem;
}
h2{

    font-size: 2rem;
}
h3{

    font-size: 1.5rem;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color : var(--secondary-text-color);
    line-height: 1.8rem;
}

a{

    text-decoration: none;
    display: inline-block;
}

ul{
    list-style-type: none;
}
.nerd{
    width: auto;
    border-radius: 4px;
    font-weight: bold;
    color: grey;
    padding: 8px 4px;
    box-shadow: 5 5 3px var(--padding-inline-section);
}
/*utility classes*/
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;

}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding: var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items:center;


}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);

}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}
.secondary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    border: 0.5px;
    border-radius: 6px;
    font-weight: 700;
    color: white;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
}
.secondary-button:hover{
    background-color:var(--secondary-text-color);
}
.topbanner{
background-color: #43fd43;
background-image: url("assets/images.jfif");
background-size: 300px;

}
.banner-text{
    color: #CCCCFF;
    padding: 15px 30px;
    text-align: center;

}
/*nav- bar  */
 
.main-nav{
justify-content: space-between;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}
.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-in-out;

}
.hover-link:hover{
    color: var(--accent-color);
}
.primary-button{
  background-color: var(--accent-color);  
}

/* header section */
header{
    padding: 50px var(--padding-inline-section);
}
.headerright img{
    width: 600px;
}
.header-section{
    justify-content: center;
    gap: 50px;
}
.headerleft{
    max-width: 40vw;
}
.headerleft h1{
margin-top: 20px;
}
.logos{
    justify-content: space-between;
}
.logo{
height: 47px;
}
.features-header{
    text-align: center;
}